


<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
        <h1>About Us</h1>
    </div>
</div>


<div class="row special text-center">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate lectus eget diam ultricies, ac egestas lectus hendrerit. Nulla porttitor pellentesque ante vitae mattis. Fusce viverra nunc orci, non aliquet eros lacinia eu. Ut ac volutpat urna, vel maximus lectus. Aliquam porta pretium massa et feugiat. Fusce accumsan auctor risus eget dictum. Morbi viverra, neque at pharetra cursus, ipsum odio eleifend orci, eu porttitor sem est sed arcu. Maecenas facilisis imperdiet nisi
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate lectus eget diam ultricies, ac egestas lectus hendrerit. Nulla porttitor pellentesque ante vitae mattis. Fusce viverra nunc orci, non aliquet eros lacinia eu. Ut ac volutpat urna, vel maximus lectus. Aliquam porta pretium massa et feugiat. Fusce accumsan auctor risus eget dictum. Morbi viverra, neque at pharetra cursus, ipsum odio eleifend orci, eu porttitor sem est sed arcu. Maecenas facilisis imperdiet nisi
    </p>
</div>


<div class="panel-group" id="accordion">
    <div class="panel panel-default darkBorder">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Our Mission</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>
                    Our mission is to eradicate homophobia and transphobia within St. Clair College and provide resources to sustain the health of the students. Our main objective is to fight and protect against discrimination, harassment, and violence at St. Clair College.
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Our Constitution</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <ol type="I">
                    <li>
                        <h3>Club Name</h3>
                        <p>St. Clair College Gay-Straight Alliance</p>
                    </li>
                    <li>
                        <h3>Objectives</h3>
                        <p>The members of the St. Clair College Gay-Straight Alliance are activists who are disclosing a worldwide issue known as homophobia/transphobia. As a member of the St. Clair College Gay-
                            Straight Alliance, you are given the opportunity to give back to Windsor community. The St. Clair College Gay-Straight Alliance will provide resources and information on the following subjects:
                            Suicide Prevention, HIV/AIDS Prevention and Testing Clinics, Homelessness, Depression, Alcoholism, Drug addiction, Academic Support and Harassment/Discrimination. This is intended
                            to raise awareness and education, as well as provide much needed support for students at the school.
                        </p>
                        <blockquote>
                            Our mission is to eradicate homophobia and transphobia within St. Clair College and provide resources to sustain the health of the students. Our main objective is to fight and protect against discrimination, harassment, and violence at St. Clair College.
                        </blockquote>
                        <p>
                            Objectives of the St. Clair College Gay-Straight Alliance also include positively impacting academic performance, giving a sense of social and physical safety within the college, and
                            increasing the perceived ability to contribute to one’s society. The Gay-Straight Alliance will promote acceptance, respect and tolerance amongst all students and faculty, regardless of race,
                            religion, gender, sexual orientation, or other discriminating factors.
                        </p>
                    </li>
                    <li>
                        <h3>Membership</h3>
                        <p>
                            Membership is open to all students at St. Clair College regardless of sexual orientation, age, race, religion, gender, ability, social status, or program of study, etc. All students are highly encouraged to join and everyone is welcome.
                        </p>
                    </li>
                    <li>
                        <h3>Club Executive</h3>
                        <p>
                            The club executive members shall consist of Executive President, Downtown President, Vice President, Treasurer, and Secretary. There will also be a minimum of two faculty advisors.
                        </p>
                    </li>
                    <li>
                        <h3>Club Executive Duties</h3>
                        <ol type="A">
                            <li>
                                <p>Executive President shall:</p>
                                <ul>
                                    <li>Implement the mission of the St. Clair College Gay-Straight Alliance</li>
                                    <li>Lead and direct the managing club members</li>
                                    <li>Lead and direct the managing club members</li>
                                    <li>Promote the club and maintain strong communication amongst members</li>
                                    <li>Oversee the organization of events and oversee the advertising and proper procedures regarding these events</li>
                                    <li>Evaluate the club’s progress</li>
                                    <li>Final sign off on all major decisions including GSA event proposals, fund dispersment, etc.</li>
                                </ul>
                            </li>
                            <li>
                                <p>Downtown President shall:</p>
                                <ul>
                                    <li>Promote the St Clair College Gay-Straight Alliance at the downtown campus</li>
                                    <li>Assume all responsibilities of the Executive President with a focus on the Downtown Windsor Campus</li>
                                    <li>Assist in the organizing of events, particularly community evens, that may bridge the gap between both college campuses</li>
                                </ul>
                            </li>
                            <li>
                                <p>Vice President shall:</p>
                                <ul>
                                    <li>Fulfill all duties of the Executive President if for any reason, they are unable to attend events or perform their leadership duties</li>
                                    <li>Assist in the organizing of events, event advertising, meetings, and discussions</li>
                                    <li>Attend the majority of meetings and events</li>
                                </ul>
                            </li>
                            <li>
                                <p>Treasurer shall:</p>
                                <ul>
                                    <li>Record all transactions personally and orderly</li>
                                    <li>Handle and process all funds</li>
                                    <li>Must pre-approve all financial transactions</li>
                                    <li>Plans and budgets the clubs finances</li>
                                    <li>Prepare a bi-annual document outlining the clubs budget and outlining expected and realistic financial outcomes of every event to date</li>
                                    <li>Provide a copy of the financial records to the rest of the executive members and faculty advisors</li>
                                    <li>Follow all of the Student Representative Council’s guidelines and procedures where club finances are concerned</li>
                                </ul>
                            </li>
                            <li>
                                <p>Secretary shall:</p>
                                <ul>
                                    <li>Attend all group meetings</li>
                                    <li>Be willing to audio record meetings to ensure that real-time discussion does not cause any points to be missed from meeting minutes and/or</li>
                                    <li>Record meeting minutes in approved document format</li>
                                    <li>In the event that the Secretary cannot attend a meeting they will be responsible to find someone to take meeting minutes</li>
                                    <li>Submit a copy of minutes to the Executive President, Media Director and faculty advisors after each meeting</li>
                                </ul>
                            </li>
                            <li>
                                <p>Social Event Coordinator:</p>
                                <ul>
                                    <li>Organizes one large event per year (pub night)</li>
                                    <li>Once a month group activity</li>
                                </ul>
                            </li>
                            <li>
                                <p>Outreach Event Coordinator:</p>
                                <ul>
                                    <li>Three events a year</li>
                                </ul>
                            </li>
                            <li>
                                <p>Fundraising Coordinator</p>
                                <ul>
                                    <li>Three main fundraising things (raffle, car wash)</li>
                                    <li>Assisting in finding Grants and bursaries</li>
                                </ul>
                            </li>
                            <li>
                                <p>Media Director</p>
                                <ul>
                                    <li>Promotional posters</li>
                                    <li>Marketing</li>
                                    <li>Logos</li>
                                    <li>Monitoring all social media</li>
                                    <li>Monitoring email</li>
                                    <li>Posts photos and updates to all social media</li>
                                </ul>
                            </li>
                            <li>
                                <p>Photographer</p>
                                <ul>
                                    <li>Attends all planned events</li>
                                    <li>Sets up for photo shoots</li>
                                    <li>Maintains professionalism</li>
                                </ul>
                            </li>
                        </ol>
                        <p><strong>All positions</strong></p>
                        <ul>
                            <li>Must maintain the professionalism and integrity of the group and will not discuss any personal issues, complaints, or negative comments while representing the SCC GSA</li>
                            <li>Must be accepting and inclusive of all students, faculty and other members of the GSA no matter what</li>
                            <li>Must support one another in the collective goals of the group and contribute when able</li>
                        </ul>
                    </li>
                    <li>
                        <h3>Elections/Appointments</h3>
                        <ul>
                            <li>Elections for Managing Club Members must be held once a year.</li>
                            <li>All members running for an executive position must follow the election guidelines and will be responsible for completing and overseeing the respective tasks defined in the ‘Club Executive Duties’ section of the Constitution.</li>
                            <li>Elections will be held on the south campus of St. Clair College and will be advertised at least 5 days before the election will take place.</li>
                            <li>Elections will require the teacher advisor to be present.</li>
                            <li>Elections will be fair and any dishonest behaviour will be cause for disqualification.</li>
                            <li>If a Managing Club Member shows signs of neglect or misuse of power, a Managing Club Member or Faculty Advisor may call a meeting to evaluate the accused member’s ability to carry
                                out their duties. If the decision of dismissing a Managing Club Member is made, an election must be held the following week to fill the vacant position.</li>
                            <li>If a member must resign from a position at any time during their elected school year, this member must inform the president, vice-president and faculty advisors as soon as he or she
                                becomes aware of the situation. If a position becomes vacant due to the resignation of a club member, an election must be held the following week to fill the vacant position.</li>
                        </ul>
                    </li>
                    <li>
                        <h3>Club Constitution Changes</h3>
                        <p>Changes to the constitution can be suggested at club meetings. If 75% of the eligible voting members agree upon the proposed amendment, the change will be inaugurated.</p>
                    </li>
                    <li>
                        <h3>Finances</h3>
                        <p>
                            Fees &ndash; the club membership fee shall be &dollar;10 per year, meeting the &dollar;5 per semester club

                            minimum.

                            Banking &ndash; all club monies shall be deposited though Student Representative Council.

                            Cheques &ndash; all cheques will be issues by Student Representative Council
                        </p>
                    </li>
                    <li>
                        <h3>Impact</h3>
                        <p>
                            The goal, in any school system, is to provide an environment where students are encouraged to strive academically and reach their full potential. This group ties hand-in- hand with building self-
                            confidence, ensuring student safety, creating community acceptance, and enhancing academic growth across all programs of study. According to a study at the University of Calgary, Gay-
                            Straight Alliances are “one of the fastest growing social movements within schools in North America.” With a focus on positivity and acceptance, the St. Clair College Gay-Straight Alliance
                            will allow this school to remain relevant in its efforts to maintain a student focus.
                        </p>
                        <p>
                            Statistics show that youth who are harassed on the basis of sexual orientation are more than twice as likely to report depression and seriously consider suicide. They are also more likely to
                            receive low grades, smoke, drink alcohol, use drugs, and become victims of violence. Approximately 9 out of 10 students have reported hearing negative comments based on sexual
                            orientation within school hallways, and 2 out of every 3 students (who identify as LGBTQ) have reported being harassed based on actual, or perceived, sexual orientation. Nearly 60% of
                            heterosexual youth find homophobic comments to also be upsetting and a Gay-Straight Alliance at St. Clair College would promote solidarity amongst all students.
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Our History</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</div>
        </div>
    </div>
    <div class="panel panel-default darkBorder">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    Other Documents</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</div>
        </div>
    </div>
</div>

