<div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
        <h2>St.Clair Gay-Straight Alliance</h2>
        <h2>St.Clair Gender-Sexuality Alliance</h2>
    </div>
</div>


<div class="row special text-center" style="padding-top: 0">
    <h3>Events</h3>
    For more information on our upcoming and past events, please visit our <a href="http://www.facebook.com/StClairCollegeGSA/" target="_blank">facebook</a> page.
</div>

<div class="row">
    <div class="col-md-12">
        <img src="/img/gsahome.png" alt="LGBT Facts" class="full-width">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="text-muted quotes">
            &ldquo;When I first came to St. Clair, I didn’t know anyone as I was coming from out of town. I wanted to join some clubs and get to know people but I wasn’t sure where I would fit in. When I was looking online, I stumbled across a poster for the GSA and joined right away. I have made many friends and enjoyed my college experience so much more thanks to the GSA!&rdquo;
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-muted quotes">
            &ldquo;I am not open with my friends or my family. Any time the subject comes up at home, it causes arguments. The things my parents say about other people who are gay make me sure that I can never come out. It’s hard. Even at school, my class is really old-fashioned and I don’t want to tell them. I am very glad to have the GSA because it is the only place I can feel safe and be who I am without any worries. Just having people accept you means a lot.&rdquo;
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-muted quotes">
            &ldquo;The GSA tries to teach others about LGBT issues, they host fun events like poetry slams and movie nights, and they bring awareness with campaigns like NOH8 and Love is Love. They are always finding new events to host and new people to bring in to speak. It’s a fast-paced and exciting group to be a part of if you jump in and get involved.&rdquo;
        </div>
    </div>
</div>